<md-dialog ng-controller="NewAnnotationController">
  <md-toolbar class="modal-header" ng-hide="isEntityInDoc" ng-model="isEntityInDoc">
      <h3 class="modal-title" id="modal-title">Add {{isKeyword ? 'keyword' : 'entity'}}:
        <span ng-bind="entityName" class="selected-entity"></span>
      </h3>
  </md-toolbar>
  <md-toolbar class="modal-header md-warn" ng-show="isEntityInDoc" ng-model="isEntityInDoc">
      <md-icon class="material-icons ng-scope" role="img" aria-hidden="true">warning</md-icon>
  </md-toolbar>
  <md-content class="modal-body" id="modal-body">
    <form name="entityForm" ng-hide="isEntityInDoc" ng-model="isEntityInDoc">
      <div ng-hide="isKeyword" ng-model="isKeyword">
        <div ng-hide="isNewType" ng-model="isNewType">
          Select type:
          <div>
            <select required class="md-select" name="selectEntityType" id="selectEntityType" ng-model="selectedType">
              <option ng-repeat="entityType in entityTypes">
                {{ entityType.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div ng-show="isNewType" ng-model="isNewType">
         <md-input-container class="md-block" flex-gt-sm>
           <label>New Type</label>
           <input required name="inputEntityType" ng-model="selectedType">
           <div ng-messages="entityForm.inputEntityType.$error">
             <div ng-message="required">This is required.</div>
           </div>
         </md-input-container>
      </div>
      <div ng-hide="isKeyword" ng-model="isKeyword">
        <md-checkbox ng-model="isNewType" aria-label="Tags" ng-click="toggleType(isNewType)">
            New type?
        </md-checkbox>
      </div>
    </form>
    <div class="whitelist-warning" ng-show="isEntityInDoc" ng-model="isEntityInDoc" style="text-align:center">Selection cannot contain existing entity</div>
  </md-content>
  <md-dialog-actions layout="row" ng-hide="isEntityInDoc" ng-model="isEntityInDoc">
    <md-button class="md-primary md-raised" ng-disabled="selectedType == false" type="submit" ng-click="ok()">OK</md-button>
    <span flex></span>
    <md-button class="md-primary md-raised" type="button" ng-click="cancel()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>
