<div id="carousel-region" ng-if="isActive">
  <div uib-carousel active="active" data-interval="false" no-wrap="noWrapSlides" class="multi-item-carousel" id="main-script-area">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="carousel-card">
      <div id="text-card-div" ng-repeat="script in slide.scripts">
        <md-card id="text-card">
          <md-content-card>
            <div id="{{slide.id}}_script-area" ng-bind-html="script" ng-model="script" ng-mouseup="showSelectedEntity(slide.texts, script, slide.id)" ng-mousedown="mouseDown()"></div>
          </md-content-card>
        </md-card>
      </div>
    </div>
  </div>
  <div uib-carousel active="active" data-interval="false" no-wrap="noWrapSlides" class="multi-item-carousel" id="main-text-area">
    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" class="carousel-card">
      <div id="text-card-div" ng-repeat="script in slide.scripts">
        <md-card id="text-card">
          <md-content-card>
            <div id="{{slide.id}}_text-area" class="text-mask" ng-mouseup="showSelectedEntity(slide.texts, script, slide.id)" ng-mousedown="mouseDown()">{{ slide.texts[0] }}</div>
          </md-content-card>
        </md-card>
      </div>
    </div>
  </div>

  <ol class="carousel-indicators custom-carousel" ng-show="slides.length > 1">
    <input
       class="slide-number"
       id="slide-number"
       value="{{active + 1}}"
       ng-submit="setSlideNumber()"
       ng-keyup="$event.keyCode == 13 && setSlideNumber()"
     >
   </input> / <span> {{ slides.length }} </span>
 </ol>
  <a role="button" href class="left carousel-control custom-carousel" ng-click="isPrevDisabled() ? '' :goPrev()"
     ng-class="{ 'carousel-disabled': isPrevDisabled() }"
     ng-show="slides.length > 1">
      <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">previous</span>
  </a>
  <a role="button" href class="right carousel-control custom-carousel" ng-click="isNextDisabled() ? '' :goNext()"
     ng-class="{ 'carousel-disabled': isNextDisabled() }"
     ng-show="slides.length > 1">
      <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">next</span>
  </a>
</div>
