<div id="content" class="container">
  <div class="progressBar" ng-show="progressBarIsActive">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <div class="bottom-block">
      <span>{{ progressStatus }}<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span></span>
    </div>
  </div>
    <cytoscape data="graphData" cy-data="mapData" cy-edges="edgeData" cy-click="doClick(value)" options="graphOptions" events="graphEvents"/>
</div>
