  <div ng-controller="InputController as ctrl" class="input-chip" ng-if="isActive">
     <form name="chipForm">
       <md-chips
          ng-model="ctrl.roChipNames"
          name="chipName"
          md-removable="true"
          placeholder="Type a query..."
          ng-keyup="$event.keyCode == 13 ? submit() : null"
        >
         <md-chip-template>
           <strong>{{$chip}}</strong>
         </md-chip-template>
       </md-chips>
         <span ng-click="submit()">
           <i class="fa fa-search fa-2x search-call"  aria-hidden="true" style="color: rgb(63,81,181)"></i>
         </span>
     </form>
  </div>
