  <!-- <div id="input-region" ng-controller="InputController">
    <div style="padding: 10px; z-index: 2;">
      <form layout layout-align="center center">
          <div id="input" class="commafield"></div>
          <button id="submit" class="md-button md-primary md-raised md-button submit-button" type="button"><span ng-click="submit()" class="">Go!</span></button>
      </form>
    </div>
  </div> -->

  <div ng-controller="InputController as ctrl" class="input-chip">

     <form name="chipForm">
       <md-chips
          ng-model="ctrl.roChipNames"
          name="chipName"
          md-removable="true"
          placeholder="Type a query..."
          ng-keyup="$event.keyCode == 13 ? submit() : null"
        >
         <md-chip-template>
           <strong>{{$chip}}</strong>
         </md-chip-template>

       </md-chips>
       <!-- <button id="submit" class="md-button md-primary md-raised md-button submit-button" type="button"> -->
         <!-- <span ng-click="submit()" class="">Go!</span> -->
         <i class="fa fa-search fa-2x search-call" ng-click="submit()" aria-hidden="true" style="color: rgb(63,81,181)"></i>
       <!-- </button> -->
       <!-- <div class="errors" ng-messages="chipForm.chipName.$error">
         <div ng-message="md-max-chips">Maximum number of chips reached.</div>
       </div> -->
     </form>
  </div>
