.main-subheader {
    // color: rgba(0,0,0,0.54);
    background-color: rgb(250,250,250);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.2em;
}

.delete-doc {
  float:right;
  color: red;
}

.autolinks-input-checkbox {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 10px 0 0 0;
    vertical-align: middle;
    width: 100%;
    md-checkbox {
      width: 100%;
      .md-label {
        float: left !important;
      }
    }
}

.autolinks-input-checkbox-ci {
    display: inline-block;
    position: relative;
    padding: 2px;
    margin: 10px 0 0 0;
    vertical-align: middle;
    width: 100%;
    md-checkbox {
      width: 100%;
      .md-label {
        float: left !important;
      }
    }
}

md-radio-button {
  margin-bottom: 0 !important;
}

.layout-row {
    padding: 2px !important;
}

md-list-item .md-list-item-inner:before, md-list-item:before {
  min-height: 40px !important;
}

md-list-item, md-list-item .md-list-item-inner {
  min-height: 40px !important;
}

.md-subheader .md-subheader-inner {
    padding: 5px 16px !important;
}
