
@media (max-width: 1919px) and (min-width: 1280px) {
  md-bottom-sheet.md-grid md-list-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 12% !important;
      flex: 1 1 12% !important;
      max-width: 12% !important;
      .md-grid-text {
        width: 104px !important;
        .item-name {
          white-space: normal;
          word-break: keep-all;
          width: 104px;
          a {
            word-break: break-all;
          }
        }
      }
  }
}

md-backdrop.md-opaque {
    opacity: .09 !important;
}
