#carousel-region {
	z-index: 3;
	width: 40%;
	position: absolute;
	margin: auto;
	bottom: 15px;
	left: 0;
	right: 0;
	left: 0;
	.carousel-inner {
		height: 230px;
	}
	.carousel-card {
		margin: auto;
		width: 100%;
    #text-card-div {
      height: 100%;
      width: 100%;
      display: inline-block;
			height: 200px;
			md-card {
				max-height: 200px;
				text-align: justify;
				overflow-y: auto;
				box-shadow: none;
				background-color: rgba(255, 255, 255, 0.20);
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
    }
	}
	.item {
		background-color: transparent;
		cursor: auto;
    &:hover {
      background-color: transparent;
    }
    &::after {
      color: transparent;
    }
	}
	.left {
    color: @blue_material;
		margin-left: -15%;
    background-image: none;
	}
	.right {
    color: @blue_material;
		margin-right: -15%;
    background-image: none;
	}
	.carousel-indicators {
    li {
      border: 1px solid @blue_material;
    }
    .active {
      background-color: @blue_material;
    }
    margin-bottom: -5%;
	}
}
//
// .display-mode {
//   height: 0;
//   margin: 0;
//   overflow: hidden;
//   padding: 0;
// }
//
// .display-mode span {
//   display: inline-block;
//   height: 1px;
//   width: 1px;
// }

// Multi item Carousel

// .multi-item-carousel{
  // width: 300px;
  // .carousel-inner{
  //   max-height: 300px;
  //   > .item{
  //     transition: 500ms ease-in-out left;
  //   }
  //
  //   // .left {
  //   // 	margin-left: -15%;
  //   // }
  //   // .right {
  //   // 	margin-right: -15%;
  //   // }
  //   .active{
  //     &.left{
  //       left:-33%;
  //     }
  //     &.right{
  //       left:33%;
  //     }
  //   }
  //   .next{
  //     left: 33%;
  //   }
  //   .prev{
  //     left: -33%;
  //   }
  //   @media all and (transform-3d), (-webkit-transform-3d) {
  //     > .item{
  //       // use your favourite prefixer here
  //       transition: 500ms ease-in-out left;
  //       transition: 500ms ease-in-out all;
  //       backface-visibility: visible;
  //       transform: none!important;
  //     }
  //   }
  // }
  // .carouse-control{
  //   &.left, &.right{
  //     background-image: none;
  //   }
  // }
// }
