<md-sidenav
  class="md-sidenav-left md-whiteframe-z2"
  md-component-id="left"
  md-is-open="lockLeft"
  style="min-height: 100%; z-index: 1003;"
>
       <md-toolbar class="md-theme-light">
         <h1 class="md-toolbar-tools">
           Autolinks
         </h1>
       </md-toolbar>
     <md-content>
       <h3 class="md-toolbar-tools">
         <label>Welcome Onboard {{ username }}!</label>
       </h3>
       <md-list ng-cloak>
         <md-subheader class="md-no-sticky">
           <h5>In this main menu, services, documents, and annotation types can be set.</h5>
         </md-subheader>

        <!-- <md-divider></md-divider>

        <md-list-item class="md-1-line" ng-click="null">
          <div class="md-list-item-text" layout="column" style="width: 100%;text-align: center">
            <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
          </div>
        </md-list-item> -->

        <!-- <md-divider></md-divider>

        <md-list-item class="md-1-line" ng-click="null">
          <div class="md-list-item-text" layout="column" style="width: 100%;text-align: center">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </div>
        </md-list-item> -->

        <md-divider></md-divider>

        <md-list-item class="main-subheader" ng-click="toggle.service = !toggle.service">
          <span flex>Service lists:</span>
          <i ng-show="toggle.service" class="fa fa-chevron-down" aria-hidden="true"></i>
          <i ng-show="!toggle.service" class="fa fa-chevron-right" aria-hidden="true"></i>
        </md-list-item>
        <md-divider></md-divider>
        <div ng-repeat="list in lists" ng-show="!toggle.service">
          <md-subheader class="md-no-sticky">
            <h5>{{ list.name }}</h5>
            <p>{{ list.description }}</p>
          </md-subheader>
          <md-list-item ng-repeat="endpoint in list.endpoints">
            <p>{{ endpoint.path }}</p>
            <md-switch class="md-secondary" ng-model="endpoint.enabled" ng-model-options="{ getterSetter: true, updateOn: 'default' }" ng-change="navigateTo(endpoint)"></md-switch>
          </md-list-item>
          <md-divider></md-divider>
        </div>

        <md-list flex>
          <md-list-item class="main-subheader" ng-click="toggle.doc = !toggle.doc">
            <span flex>Document lists:</span>
            <i ng-show="!toggle.doc" class="fa fa-chevron-down" aria-hidden="true"></i>
            <i ng-show="toggle.doc" class="fa fa-chevron-right" aria-hidden="true"></i>
          </md-list-item>

          <!-- <div ng-repeat="doc in documents" ng-show="toggle.doc">
            <md-list-item>
              <p>{{$index + 1}}. {{ doc.filename }}</p>
              <md-switch class="md-secondary" ng-model="doc" ng-model-options="{ getterSetter: true, updateOn: 'default' }" ng-change="loadDoc(doc)"></md-switch>
            </md-list-item>
          </div> -->

          <md-radio-group
            ng-show="toggle.doc"
            ng-model="doc"
            ng-model-options="{ getterSetter: true, updateOn: 'default' }"
            ng-change="loadDoc(doc)"
            >
           <div ng-repeat='doc in documents' class="row-reverse">
             <div flex layout='row' layout-padding layout-align="start center" >
               <md-list-item>
                 <md-radio-button flex
                     ng-value="doc"
                     id="{{doc.id}}"
                  >
                    {{$index + 1}}. {{ doc.filename }}
                 </md-radio-button>
                 <a href="" ng-click="deleteDoc(doc, $index)" class="delete-doc">
                   <i id="circle-fit" class="fa fa-trash-alt" aria-hidden="true"></i>
                 </a>
               </md-list-item>
             </div>
           </div>
         </md-radio-group>
         <md-divider></md-divider>
        </md-list>

        <md-list-item class="main-subheader" ng-click="toggle.annotation = !toggle.annotation">
          <span flex>Annotation Types:</span>
          <i ng-show="!toggle.annotation" class="fa fa-chevron-down" aria-hidden="true"></i>
          <i ng-show="toggle.annotation" class="fa fa-chevron-right" aria-hidden="true"></i>
        </md-list-item>
        <md-divider></md-divider>
        <div ng-show="toggle.annotation">
          <md-list-item ng-if="!types"> Please select a document first</md-list-item>
          <md-list-item ng-repeat="typ in types">
            <p>{{ typ.name }}</p>
            <md-switch class="md-secondary" ng-model="typ.enabled" ng-change="toggleTypeTo(typ)"></md-switch>
          </md-list-item>
          <md-divider></md-divider>
        </div>

        <md-list-item class="md-1-line" ng-click="null">
          <div class="md-list-item-text" layout="column" style="width: 100%;text-align: center">
            <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
          </div>
        </md-list-item>

        <md-divider></md-divider>

      </md-list>
     </md-content>
     <md-toolbar class="md-scroll-shrink">
      <a ng-href="/login" target="_self" layout="row" layout-align="center center" flex style="cursor: pointer;color: white;">
        Logout
      </a>
    </md-toolbar>
   </div>
</md-sidenav>
