<md-sidenav
  class="md-sidenav-right md-whiteframe-4dp"
  md-component-id="right"
  style="min-height: 100%; z-index: 1003;"
>
  <div>
     <form>
       <md-toolbar class="md-theme-light">
         <h1 class="md-toolbar-tools" style="word-break: break-word;">
           {{ selectedEntity.data().name }}
           <!-- <md-input-container class="example-full-width" ng-if="selectedEntity !== 'createCompound'">
             <input
              style="color: white"
              ng-model="selectedEntity.data().name"
              ng-model-options="{ getterSetter: true, updateOn: 'default' }"
              readonly
             >
           </md-input-container> -->
           <!-- <input value="{{selectedEntity.data('name')}}" /> -->
           <div ng-if="selectedEntity === 'createCompound'">
            Create Compound Node:
          </div>
          </h1>
       </md-toolbar>

       <md-content layout-padding>
         <div ng-if="selectedEntity !== 'createCompound'">
            <img
              ng-show="selectedEntity.data('image')"
              ng-src="{{selectedEntity.data('image') === undefined ? '' : selectedEntity.data('image')}}"
              style="width:200px;"
            />

            <md-list-item class="main-subheader" ng-click="toggle.metadata = !toggle.metadata">
              <span flex>Metadata:</span>
              <i ng-show="!toggle.metadata" class="fa fa-chevron-down" aria-hidden="true"></i>
              <i ng-show="toggle.metadata" class="fa fa-chevron-right" aria-hidden="true"></i>
            </md-list-item>
            <md-divider></md-divider>
            <div ng-show="toggle.metadata">
              <!-- <md-list-item ng-if="!types"> Please select a document first</md-list-item> -->
              <div ng-repeat="key in metadata_keys track by $index">
                <!-- <p>{{ metadata_keys[$index] }}</p> -->
                <!-- <md-switch class="md-secondary" ng-model="typ.enabled" ng-change="toggleTypeTo(typ)"></md-switch> -->
              <div layout="row" layout-xs="column">
                <div flex>
                  <!-- <md-input-container> -->
                    <input
                       class="metadata-inputs"
                       ng-model="key"
                       value="{{ key ? key : '' }}"
                       style="font-weight: 700"
                       ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                     >
                   </input>
                 <!-- </md-input-container> -->
                </div>
                <div flex>
                  <!-- <md-input-container> -->
                    <input
                       class="metadata-inputs"
                       ng-model="metadata[key]"
                       md-autofocus
                       ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                     >
                   </input>
                 <!-- </md-input-container> -->
                </div>
                <div flex class="meta-trash">
                  <a href="" ng-click="deleteMetadata(meta, $index)" class="delete-meta">
                    <i id="circle-fit" class="fa fa-trash-alt" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
              <md-divider></md-divider>
              <md-button ng-click="add()" class="md-primary" style="min-width: 50px">
                <i class="fa fa-plus-circle fa-2x"></i>
              </md-button>
              <md-button ng-click="update()" class="md-primary">
                Update
              </md-button>
              <md-button ng-click="delete()" class="md-warn">
                Delete
              </md-button>
            </div>

            <!-- <h4>"metadata" :  {</h4>
            <div layout="row" layout-xs="column" class="metadata-inputs">
              <div flex>
                key
              </div>
              :
              <div flex>
                value
              </div>
            </div>
            <div layout="row" layout-xs="column" class="metadata-inputs">
              <div flex>
                <md-input-container>
                  <input
                     style="text-align: center"
                     readonly
                     value="label"
                   >
                 </input>
               </md-input-container>
              </div>
              <div flex>
                <md-input-container>
                  <input
                     ng-model="selectedEntity.data().metadata.label"
                     md-autofocus
                     ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                     style="text-align: center"
                   >
                 </input>
               </md-input-container>
              </div>
            </div>
            <div layout="row" layout-xs="column" class="metadata-inputs">
              <div flex>
                <md-input-container>
                  <input
                     style="text-align: center"
                   >
                 </input>
               </md-input-container>
              </div>
              <div flex>
                <md-input-container>
                  <input
                     md-autofocus
                     ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                     style="text-align: center"
                   >
                 </input>
               </md-input-container>
              </div>
            </div> -->
             <!-- <md-input-container>
               <label for="testInput">Label</label>
               <input
                  ng-model="selectedEntity.data().metadata.label"
                  md-autofocus
                  ng-model-options="{ getterSetter: true, updateOn: 'default' }"
                >
              </input>
             </md-input-container> -->
           <!-- <h4>}</h4> -->


           <md-divider></md-divider>
           <md-list-item class="main-subheader" ng-click="toggle.provenances = !toggle.provenances">
             <span flex>Sources:</span>
             <i ng-show="!toggle.provenances" class="fa fa-chevron-down" aria-hidden="true"></i>
             <i ng-show="toggle.provenances" class="fa fa-chevron-right" aria-hidden="true"></i>
           </md-list-item>
           <md-divider></md-divider>
           <div ng-show="toggle.provenances">
             <!-- <md-list-item ng-if="!types"> Please select a document first</md-list-item> -->
             <md-list-item ng-repeat="pvc in provenances" ng-click="navigateTo(pvc)">
               <p>{{ pvc.surface }}</p>
               <!-- <md-switch class="md-secondary" ng-model="typ.enabled" ng-change="toggleTypeTo(typ)"></md-switch> -->
             </md-list-item>
             <md-divider></md-divider>
           </div>
           <md-divider></md-divider>
           <h3>Properties:<h3>
           <pre id="propertify">
           </pre>
         </div>

         <div ng-if="selectedEntity === 'createCompound'">
             <md-input-container>
               <label for="newCompound">Name</label>
               <input
                  id="newCompound"
                >
              </input>
             </md-input-container>
           <md-button ng-click="createCompound()" class="md-primary">
             Create
           </md-button>
         </div>
       </md-content>
     </form>
     <md-toolbar class="md-scroll-shrink">
      <div layout="row" layout-align="center center" class="overflow-y: auto" ng-click="close()" flex>
        Close
      </div>
    </md-toolbar>
   </div>
</md-sidenav>
