<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
  <div ng-controller="SidenavController">
     <form>
       <md-toolbar class="md-theme-light">
         <h1 class="md-toolbar-tools">
           <md-input-container class="example-full-width" ng-if="selectedEntity !== 'createCompound'">
             <input
              style="color: white"
              ng-model="selectedEntity.data().name"
              ng-model-options="{ getterSetter: true, updateOn: 'default' }"
             >
           </md-input-container>
           <!-- <input value="{{selectedEntity.data('name')}}" /> -->
           <div ng-if="selectedEntity === 'createCompound'">
            Create Compound Node:
          </div>
          </h1>
       </md-toolbar>
       <md-content layout-padding>
          <img
            ng-show="selectedEntity.data('image')"
            ng-src="{{selectedEntity.data('image') === undefined ? '' : selectedEntity.data('image')}}"
            style="width:200px;"
          />
           <md-input-container
            ng-if="selectedEntity !== 'createCompound'"
           >
             <label for="testInput">Label</label>
             <textarea
                ng-model="selectedEntity.data().desc"
                md-autofocus
                ng-model-options="{ getterSetter: true, updateOn: 'default' }"
              >
             </textarea>
           </md-input-container>
           <md-input-container
            ng-if="selectedEntity === 'createCompound'"
           >
             <label for="newCompound">Name</label>
             <input
                id="newCompound"
                ng-if="selectedEntity === 'createCompound'"
              >
            </input>
           </md-input-container>
         <md-button ng-click="delete()" class="md-warn" ng-if="selectedEntity !== 'createCompound'">
           Delete
         </md-button>
         <md-button ng-click="update()" class="md-primary" ng-if="selectedEntity !== 'createCompound'">
           Update
         </md-button>
         <md-button ng-click="createCompound()" class="md-primary" ng-if="selectedEntity === 'createCompound'">
           Create
         </md-button>
         <md-divider></md-divider>
         <h3>Properties:<h3>
         <pre id="propertify">
         </pre>
       </md-content>
     </form>
     <md-toolbar class="md-scroll-shrink">
      <div layout="row" layout-align="center center" class="overflow-y: auto" ng-click="close()" flex>
        Close
      </div>
    </md-toolbar>
   </div>
</md-sidenav>
